@media (min-width: 1000px) {
/*================================================================================================*/

.tabs ul{

	max-height: none;
}

.tabs li{

	float: left;
	margin: 0;
	margin-right: 10px;
}

.tabs li a{

	border-radius: 5px 5px 0 0;
}

/*================================================================================================*/
}